<a href="https://colab.research.google.com/github/vanvan7/DataMining_and_MachineLearning/blob/master/Assignment_Q1_to_Q3_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Mining and Machine Learning - Assignment questions 1 to 3

> Topics Covered: Data Cleaning, Exploratory Data Analysis, Visualization and Regression 

**Due: Oct 16 @23.59 (Lausanne Time)**


This assignment is the opportunity to apply the different concepts seen in class so far to a new dataset on the life expectancy.

Run the first few cells to load the dataset and then get started with the questions! **Pay attention:** in order to start working, open the notebook in Colab, and make sure to make a copy of the notebook in your private Google Drive. After you finished, export the notebook as a .ipynb file and upload it on Moodle (Section "Assignment").

To complete the assignment you have to do ***both***:

1. Complete the exercises and submit your Python notebook
2. Answer the questions to the quiz on Moodle
>Note: You can only complete the quiz one time. Have your notebook with the answers ready for answering the quiz. The quiz will be made available Monday 10th October at 7p.m.

Only the quiz questions accounts for your grade. Nevertheless, the answers to the quiz should be supported by your code in the notebook. If they are not, you will not receive points for them. 

**IMPORTANT!** You can discuss the questions with other students but **do not exchange code!** This is individual work. We will run your code and check for similarities. In case of high similarity scores between two notebooks, both the authors will get 0 points for the assignment.

You can post your questions in slack channel #assignments.


If there is need for further clarifications on the questions, after the assignment is released, we will update the file on GitHub, so make sure you check the git repo of the class for updates.

Good luck!

[![Open in Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/michalis0/DataMining_and_MachineLearning/blob/master/Assignment/Assignment_Q1_to_Q3_2022/Assignment_Q1_to_Q3_2022.ipynb)

In [ ]:
# Import required packages

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
sns.set_style("whitegrid")

In [ ]:
# Load the data
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Life Expectancy Data.csv")

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

For this assignment, we use data gathered by the WHO (World Health Organization) regarding many countries, over several years. The dataset includes information on items purchased from this store, including for each item or article:
* **Country**
* **Year**: year of the measurement
* **Status**: Developed or Developing status
* **Life expectancy**: Life Expectancy in years
* **Adult Mortality**: Adult Mortality Rates of both sexes (probability of dying between 15 and 60 years per 1000 population)
* **Alcohol**: Alcohol, recorded per capita (individuals aged 15+) consumption (in litres of pure alcohol)
* **Hepatitis B**: Hepatitis B (HepB) immunization coverage among 1-year-olds (%)
* **Measles**: Measles - number of reported cases per 1000 population
* **BMI**: Average Body Mass Index of entire population
* **under-five deaths**: Number of under-five deaths per 1000 population
* **Polio**: Polio (Pol3) immunization coverage among 1-year-olds (%)
* **Total expenditure**: General government expenditure on health as a percentage of total government expenditure (%)
* **Diphtheria**: Diphtheria tetanus toxoid and pertussis (DTP3) immunization coverage among 1-year-olds (%)
* **HIV/AIDS**: Deaths per 1 000 live births HIV/AIDS (0-4 years)
* **GDP**: Gross Domestic Product per capita (in USD)
* **Population**: Population of the country
* **thinness 1-19 years**: Proportion of thinness among children and adolescents for Age 10 to 19 (in %)
* **thinness 5-9 years**: Proportion of thinness among children for Age 5 to 9 (in %)
* **Income composition of resources**: Human Development Index in terms of income composition of resources (index ranging from 0 to 1)
* **Schooling**: Number of years of schooling

## 1. Understand and Clean the Dataset
### 1.1 Initial exploration

>1.1.1 Show the first 5 or 10 rows to get an idea of the data.

In [ ]:
df.head(20)

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
5,Afghanistan,2010,Developing,58.8,279.0,74,0.01,79.679367,66.0,1989,...,66.0,9.20,66.0,0.1,553.328940,2883167.0,18.4,18.4,0.448,9.2
6,Afghanistan,2009,Developing,58.6,281.0,77,0.01,56.762217,63.0,2861,...,63.0,9.42,63.0,0.1,445.893298,284331.0,18.6,18.7,0.434,8.9
7,Afghanistan,2008,Developing,58.1,287.0,80,0.03,25.873925,64.0,1599,...,64.0,8.33,64.0,0.1,373.361116,2729431.0,18.8,18.9,0.433,8.7
8,Afghanistan,2007,Developing,57.5,295.0,82,0.02,10.910156,63.0,1141,...,63.0,6.73,63.0,0.1,369.835796,26616792.0,19.0,19.1,0.415,8.4
9,Afghanistan,2006,Developing,57.3,295.0,84,0.03,17.171518,64.0,1990,...,58.0,7.43,58.0,0.1,272.563770,2589345.0,19.2,19.3,0.405,8.1
10,Afghanistan,2005,Developing,57.3,291.0,85,0.02,1.388648,66.0,1296,...,58.0,8.70,58.0,0.1,25.294130,257798.0,19.3,19.5,0.396,7.9
11,Afghanistan,2004,Developing,57.0,293.0,87,0.02,15.296066,67.0,466,...,5.0,8.79,5.0,0.1,219.141353,24118979.0,19.5,19.7,0.381,6.8
12,Afghanistan,2003,Developing,56.7,295.0,87,0.01,11.089053,65.0,798,...,41.0,8.82,41.0,0.1,198.728544,2364851.0,19.7,19.9,0.373,6.5
13,Afghanistan,2002,Developing,56.2,3.0,88,0.01,16.887351,64.0,2486,...,36.0,7.76,36.0,0.1,187.845950,21979923.0,19.9,2.2,0.341,6.2
14,Afghanistan,2001,Developing,55.3,316.0,88,0.01,10.574728,63.0,8762,...,35.0,7.80,33.0,0.1,117.496980,2966463.0,2.1,2.4,0.340,5.9
15,Afghanistan,2000,Developing,54.8,321.0,88,0.01,10.424960,62.0,6532,...,24.0,8.20,24.0,0.1,114.560000,293756.0,2.3,2.5,0.338,5.5
16,Albania,2015,Developing,77.8,74.0,0,4.60,364.975229,99.0,0,...,99.0,6.00,99.0,0.1,3954.227830,28873.0,1.2,1.3,0.762,14.2
17,Albania,2014,Developing,77.5,8.0,0,4.51,428.749067,98.0,0,...,98.0,5.88,98.0,0.1,4575.763787,288914.0,1.2,1.3,0.761,14.2
18,Albania,2013,Developing,77.2,84.0,0,4.76,430.876979,99.0,0,...,99.0,5.66,99.0,0.1,4414.723140,289592.0,1.3,1.4,0.759,14.2
19,Albania,2012,Developing,76.9,86.0,0,5.14,412.443356,99.0,9,...,99.0,5.59,99.0,0.1,4247.614380,2941.0,1.3,1.4,0.752,14.2

>1.1.2 How many observations (rows) and columns are in the dataset?

In [ ]:
# this is the number of observations (rows), the data numerosity
df.shape[0]

2938

In [ ]:
# this is the number of columns or attributes, the data dimensionality
df.shape[1]

22

> 1.1.3 For which variable(s), if any, are there missing/null values?

In [ ]:
# Missing or Null values found
df.isnull().sum()

Country                     0
Year                        0
Status                      0
Life expectancy            10
Infant deaths               0
Percentage expenditure      0
Hepatitis b               553
Measles                     0
Bmi                        34
Polio                      19
Hiv/aids                    0
Gdp                       448
Population                652
Schooling                 163
dtype: int64

>1.1.4 Apply two small modifications to the names of the columns, that will help you avoid errors. 
* Remove spaces from beginning and end of the names of the features, if they have some
* Put all the feature names start with an uppercase letter or all with a lowercase letter

In [ ]:
# Check if there are spaces in the columns 
print(df.columns)

Index(['Country', 'Year', 'Status', 'Life expectancy ', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'Measles ', ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure',
       'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population',
       ' thinness  1-19 years', ' thinness 5-9 years',
       'Income composition of resources', 'Schooling'],
      dtype='object')

In [ ]:
#Check in which Names there are whitespaces
[x for x in df.columns if x.endswith(' ') or x.startswith(' ')]

['Life expectancy ',
 'Measles ',
 ' BMI ',
 'under-five deaths ',
 'Diphtheria ',
 ' HIV/AIDS',
 ' thinness  1-19 years',
 ' thinness 5-9 years']

In [ ]:
#Remove whitespacing 
df.columns = df.columns.str.strip() # Leading and trailing

In [ ]:
#Ckeck difference 
print(df.columns)

Index(['Country', 'Year', 'Status', 'Life expectancy', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'Measles', 'BMI', 'under-five deaths', 'Polio', 'Total expenditure',
       'Diphtheria', 'HIV/AIDS', 'GDP', 'Population', 'thinness  1-19 years',
       'thinness 5-9 years', 'Income composition of resources', 'Schooling'],
      dtype='object')

In [ ]:
#In "thinness 1-19 Years" are two whitespaces --> Clear  
df = df.rename(columns={'thinness  1-19 years': 'thinness 1-19 years'})
df.tail(3)

,Country,Year,Status,Life expectancy,Infant deaths,Percentage expenditure,Hepatitis b,Measles,Bmi,Polio,Hiv/aids,Gdp,Population,Schooling
2935,Zimbabwe,2002,Developing,44.8,25,0.0,73.0,304,26.3,73.0,39.8,57.348340,125525.0,10.0
2936,Zimbabwe,2001,Developing,45.3,25,0.0,76.0,529,25.9,76.0,42.1,548.587312,12366165.0,9.8
2937,Zimbabwe,2000,Developing,46.0,24,0.0,79.0,1483,25.5,78.0,43.5,547.358878,12222251.0,9.8

In [ ]:
print(df.columns)

Index(['Country', 'Year', 'Status', 'Life expectancy', 'Infant deaths',
       'Percentage expenditure', 'Hepatitis b', 'Measles', 'Bmi', 'Polio',
       'Hiv/aids', 'Gdp', 'Population', 'Schooling'],
      dtype='object')

Feature names start with an uppercase letter:

In [ ]:
df.columns = df.columns.str.capitalize()
print(df.columns)

Index(['Country', 'Year', 'Status', 'Life expectancy', 'Adult mortality',
       'Infant deaths', 'Alcohol', 'Percentage expenditure', 'Hepatitis b',
       'Measles', 'Bmi', 'Under-five deaths', 'Polio', 'Total expenditure',
       'Diphtheria', 'Hiv/aids', 'Gdp', 'Population', 'Thinness 1-19 years',
       'Thinness 5-9 years', 'Income composition of resources', 'Schooling'],
      dtype='object')

>1.1.5 Drop the following columns (we will not need them):
* Adult Mortality
* Alcohol
* Under-five deaths 
* Total expenditure
* Diphtheria
* Thinness  1-19 years
* Thinness 5-9 years
* Income composition of resources

In [ ]:
# Drop columns 
df = df.drop(columns=['Thinness 1-19 years','Adult mortality', 'Alcohol', 'Under-five deaths', 'Total expenditure', 'Diphtheria', 'Thinness 5-9 years',  'Income composition of resources'])

>1.1.6 Which state had the highest **life expectancy** in a single year? ONLY for this question and the following one (1.1.7), you will need to drop the rows that have NaN as life expectancy.

In [ ]:
# The highest life expectancy in a state
# Drop the rows with NaN expectancy in Life expectancy
df_droplife=df.dropna(subset=['Life expectancy'])

In [ ]:
maxClm = df_droplife['Life expectancy'].max()
maxIdx = df_droplife['Life expectancy'].idxmax()
print(maxClm)
#print(maxIdx) -> For visualizing the table
df_droplife.loc[maxIdx, 'Country']

89.0

'Belgium'

In [ ]:
#Visualized in a table
df_droplife.loc[241,['Country', 'Life expectancy']]

Country            Belgium
Life expectancy       89.0
Name: 241, dtype: object

In [ ]:
#Check if there are other Countries with the same Life expectancy
#There are 11 Countries which have the same value 
df_droplife.loc[:,['Country', 'Life expectancy']][df_droplife['Life expectancy'] == 89.0]

          Country  Life expectancy
241       Belgium             89.0
915       Finland             89.0
937        France             89.0
938        France             89.0
995       Germany             89.0
1293        Italy             89.0
1850  New Zealand             89.0
1916       Norway             89.0
2056     Portugal             89.0
2433        Spain             89.0
2513       Sweden             89.0

>1.1.7 Which state had the highest **life expectancy** on average over all the years covered by the dataset?

In [ ]:
# Group the countries and then take its mean 
#df.groupby('Country')['Life expectancy'].mean()

maxClm_average = df_droplife.groupby('Country')['Life expectancy'].mean().max()
maxIdx_average = df_droplife.groupby('Country')['Life expectancy'].mean().idxmax()
print(maxClm_average)
print(maxIdx_average)

82.5375
Japan

>1.1.8 What percentage of developing countries have GDP per capita (averaged over the period) higher than 1000? Drop countries with missing GDP for this question. Round up to 3 decimal points. ONLY for this question, you will need to drop the rows that have NaN as GDP.

In [ ]:
# Drop the rows with NaN expectancy in GDP
df_dropgdp=df.dropna(subset=['Gdp'])

In [ ]:
#Mean GDP's
#df_dropgdp.groupby('Country')['Gdp'].mean()

#Mean GDP's over 1000 and round 3 decimals points
df_dropgdp[df_dropgdp.Gdp > 1000].groupby('Country')['Gdp'].mean().round(decimals=3)

Country
Albania                  3211.664
Algeria                  3683.091
Angola                   3457.745
Antigua and Barbuda      9759.306
Argentina                8488.399
                          ...
United Arab Emirates    22110.367
Uruguay                  9418.969
Uzbekistan               1573.408
Vanuatu                  2408.584
Zambia                   1486.334
Name: Gdp, Length: 133, dtype: float64

### 1.2 Data types

>1.2.1. List the different features and their data type. ¶

In [ ]:
# Features
df.shape

(2938, 14)

In [ ]:
# Data Type
df.dtypes

Country                    object
Year                        int64
Status                     object
Life expectancy           float64
Infant deaths               int64
Percentage expenditure    float64
Hepatitis b               float64
Measles                     int64
Bmi                       float64
Polio                     float64
Hiv/aids                  float64
Gdp                       float64
Population                float64
Schooling                 float64
dtype: object

>1.2.2. Are there any duplicated entries?

In [ ]:
# This gives a Boolean data type
# None are duplicated here
df.loc[df.duplicated()=='True', :]

Empty DataFrame
Columns: [Country, Year, Status, Life expectancy, Infant deaths, Percentage expenditure, Hepatitis b, Measles, Bmi, Polio, Hiv/aids, Gdp, Population, Schooling]
Index: []

>1.2.3. Change the data type for the following columns: Country (from object to string), Status (from object to category)

In [ ]:
# YOUR CODE HERE
#d = df['Country'].astype('|S')
df.astype({'Country':'string'}).dtypes

Country                             string
Year                                 int64
Status                              object
Life expectancy                    float64
Adult Mortality                    float64
infant deaths                        int64
Alcohol                            float64
percentage expenditure             float64
Hepatitis B                        float64
Measles                              int64
 BMI                               float64
under-five deaths                    int64
Polio                              float64
Total expenditure                  float64
Diphtheria                         float64
 HIV/AIDS                          float64
GDP                                float64
Population                         float64
 thinness  1-19 years              float64
 thinness 5-9 years                float64
Income composition of resources    float64
Schooling                          float64
dtype: object

>1.2.4. For which period have these data samples been collected? (i.e, the oldest and the most recent entries in the dataset)

In [ ]:
#Oldest entries in the dataset 
df['Year'].min()

2000

In [ ]:
#Most recent entries in the dataset 
df['Year'].max()

2015


## 2. Exploratory Data Analysis and Visualization

>2.1 Which are the top 5 countries that had the highest **population growth** over the period included in the dataset?
Consider population growth as the difference between the population in the last year and the first year of measurement

>Hint: for each country, the data follows a certain order...

In [119]:
# Drop the rows with NaN expectancy in Life expectancy
# df_droppop=df.dropna(subset=['Population'])

In [130]:
# Population of each country in the year 2000
df_pop_2000=df.loc[:, ['Country', 'Year', 'Population']][df['Year'] == 2000]
df_pop_2000=df_pop_2000.reset_index(drop=True)
print(df_pop_2000)

                                Country  Year  Population
0                           Afghanistan  2000    293756.0
1                               Albania  2000     38927.0
2                               Algeria  2000   3118366.0
3                                Angola  2000   1644924.0
4                   Antigua and Barbuda  2000         NaN
..                                  ...   ...         ...
178  Venezuela (Bolivarian Republic of)  2000         NaN
179                            Viet Nam  2000         NaN
180                               Yemen  2000         NaN
181                              Zambia  2000   1531221.0
182                            Zimbabwe  2000  12222251.0

[183 rows x 3 columns]

In [131]:
# Population of each country in the year 2015
df_pop_2015=df.loc[:, ['Country', 'Year', 'Population']][df['Year'] == 2015]
df_pop_2015=df_pop_2015.reset_index(drop=True)
print(df_pop_2015)

                                Country  Year  Population
0                           Afghanistan  2015  33736494.0
1                               Albania  2015     28873.0
2                               Algeria  2015  39871528.0
3                                Angola  2015   2785935.0
4                   Antigua and Barbuda  2015         NaN
..                                  ...   ...         ...
178  Venezuela (Bolivarian Republic of)  2015         NaN
179                            Viet Nam  2015         NaN
180                               Yemen  2015         NaN
181                              Zambia  2015    161587.0
182                            Zimbabwe  2015  15777451.0

[183 rows x 3 columns]

In [189]:
#  Population comparison between 2000 and 2015 (Compare dataframe)
df_pop_compare= df_pop_2015.compare(df_pop_2000,keep_shape=True, keep_equal=True)
print(df_pop_compare)

                                Country                                      \
                                   self                               other
0                           Afghanistan                         Afghanistan
1                               Albania                             Albania
2                               Algeria                             Algeria
3                                Angola                              Angola
4                   Antigua and Barbuda                 Antigua and Barbuda
..                                  ...                                 ...
178  Venezuela (Bolivarian Republic of)  Venezuela (Bolivarian Republic of)
179                            Viet Nam                            Viet Nam
180                               Yemen                               Yemen
181                              Zambia                              Zambia
182                            Zimbabwe                            Zimbabwe

     Year        Population
     self other        self       other
0    2015  2000  33736494.0    293756.0
1    2015  2000     28873.0     38927.0
2    2015  2000  39871528.0   3118366.0
3    2015  2000   2785935.0   1644924.0
4    2015  2000         NaN         NaN
..    ...   ...         ...         ...
178  2015  2000         NaN         NaN
179  2015  2000         NaN         NaN
180  2015  2000         NaN         NaN
181  2015  2000    161587.0   1531221.0
182  2015  2000  15777451.0  12222251.0

[183 rows x 6 columns]

In [191]:
# Population growth
df_pop_compare['difference'] = df_pop_compare["Population", 'self'] - df_pop_compare["Population", 'other']
#print(df_pop_compare)
print(df_pop_compare.sort_values(by=['difference'], ascending=False)['Country'].head(5))

          self      other
75   Indonesia  Indonesia
118    Nigeria    Nigeria
62     Germany    Germany
167     Turkey     Turkey
36    Colombia   Colombia

In [192]:
print(df_pop_compare.sort_values(by=['difference'], ascending=False)['difference'].head(5))

75     237007684.0
118    179958215.0
62      73465453.0
167     71947351.0
36      47784739.0
Name: difference, dtype: float64

>2.2 How many unique countries were included in the dataset?

In [ ]:
# YOUR CODE HERE

>...Plot the top ten countries by average GDP on a horizontal bar chart.

In [ ]:
# YOUR CODE HERE

>2.3. Sometimes it is useful to group datapoints that share certain common traits. That's what we'll do in this composite question. All the modifications to the dataframe suggested here must be ONLY for the questions 2.3. So we suggest to generate a new dataframe for this question, to avoid affecting the main one.

> 2.3.1 First, aggregate the data by country taking the mean of every numerical feature. At this point you should have 1 row per Country. Keep only the following features: `HIV/AIDS`,`Polio`,`Measles`,`Infant deaths`,`Hepatitis B`. (Remember, you might need the other features after question 2.3, so do not delete them from the main df)

In [ ]:
# YOUR CODE HERE

> 2.3.2 Then, keep only the following columns, and AFTERWARDS drop all the rows that have NaN values : `HIV/AIDS`,`Polio`,`Measles`,`Infant deaths`,`Hepatitis B`. (Remember, you might need them after question 2.3, so do not delete them from the main df)

In [ ]:
# YOUR CODE HERE

> 2.3.3 Then, build a new column in the dataset with a new composite index, the NHI (New Health Index). It integrates the situation of the country with regards to the HIV/AIDS, Polio, Measles, Infant deaths, Hepatitis B. The higher, the worse the situation. It needs to follow the following formula: $$BHI = 10*HIV + 2*Polio + \sqrt{Measles} + (Infant deaths)^{2} + Hepatitis B$$

In [ ]:
# YOUR CODE HERE

> 2.3.4 After you added the column with the index, create another column, categorical, called "Health risk", which can have 4 different values:
* Very high risk
* High risk
* Medium risk
* Low risk
> You should assign the value to each row depening on the quartile the datapoint belongs to, following the NHI. If it is in the lowest 25%, it needs to be low risk, if it's between 25 and 50%, it will be Medium, between 50 and 75% High risk, between 75% and 100% Very high risk.
Hint: you may want to check the `qcut` function of Pandas.

> Finally, count the values of each class you created. How many datapoints are "High Risk"?

In [ ]:
# YOUR CODE HERE

>2.4 Compare GDP in 2002 and in 2012. Were there any countries that had a lower GDP with respect to 2002? If so, how many?

In [ ]:
# YOUR CODE HERE

>2.5 Generate a table with the average life expectancy by year for three different groups: 
>* for all developing countries
>* developed countries
>* the overall aggregated values.

>Then, plot the three trends in a line plot with the aggregated values for Life expectancy on y axis and the years on the x axis.

In [ ]:
# YOUR CODE HERE
# Generate the table


# Plot

>2.6 Draw boxplots to compare the BMI (body mass index) between developed and developing countries. Before doing so, aggregate by country and average over time the BMI for each country. Remember to remove Nans. Do developed or developing have a higher median? Which has more outliers?

In [ ]:
# YOUR CODE HERE

>2.7 Using `folium`, plot on an interactive map the life expectancy of the countries represented in the dataset. You need to have a scale of colors, the more intense the color, the higher the life expectancy of the country.
>
> Only include 2015 data.
>
>A separate geojson file with latitudes and longitudes of the countries needs to be downloaded from [here](https://datahub.io/core/geo-countries). You should use the `folium.Choropleth` method and give the geojson file as `geo_data` parameter. The `key_on` parameter should be set to `"feature.properties.ADMIN"` because of the structure of the json file. Make sure to drop any missing values before plotting your map.

In [ ]:
import folium
geo = "countries.geojson"
# YOUR CODE HERE

## Before regression: One Hot Encoding

Before moving on to the regression, we need to transform the categorical variables as dummy variables for the regression. In order to do so, we use a [One Hot Encoder](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OneHotEncoder.html). Pay attention: we need to consider "year" as a categorical variable as well, as it is not a continuous one. So the two features that you need to encode are: Year and Status. Add the features to the dataset. 
Reminder: when encoding n categories, we need to add n-1 features to avoid multicollinearity - the "Dummy variable trap".

>2.8 How many features does the dataframe have now, after adding n-1 columns for year and m-1 for status, where n and m are respectively the number of categories possible?

In [ ]:
from sklearn.preprocessing import OneHotEncoder

In [ ]:
# YOUR CODE HERE

## 3. Regression Analysis
### 3.1 Intro to regression

For this section we will try to build a model to predict the life expectancy, given other data regarding a country. Here we are providing the cleaned dataframe for you. The regression dataset is the same you've been working on until now with some additional cleaning. The features available are the following:
* Alcohol
* Schooling
* GDP
* Life expectancy
* Percentage expenditure
* One dummy feature for each year except for 1 (2000,2001,2002,...)
* One dummy feature "Developing" indicating whether the country is a developing one or not

>Load the data.

In [ ]:
#Upload the data
new_data = pd.read_csv("Regression Analysis Data")

>3.1.1. Generate descriptive statistics

In [ ]:
# YOUR CODE HERE

>3.1.2. Plot the distribution of life expectancy in 2000 and in 2012. Then create a new column equal to the natural logarithm of life expectancy and plot its histogram as well, just for year 2000.

In [ ]:
# YOUR CODE HERE
#Generate the first 2 histograms: 2000 and 2012

In [ ]:
# YOUR CODE HERE
#Add the new column with the log

#Generate the second histogram: 2000, but with the log

>3.1.3. Create 3 pairplots with the log of life expectancy on the horizontal axis and on the vertical axis GDP, population, schooling. Which seems to be the best predictor?

In [ ]:
# YOUR CODE HERE

## 3.2 Simple Linear Regression

>3.2.1 Drop the feature "Year", since we have hot-encoded it. Regress, using the library `sklearn`, log of life expectancy on Alcohol, gdp, population, percentage expenditure, schooling, Developing, and all the dummy variables for the years.
> 
>Select the dependent (y) and the independent variables (X).

In [ ]:
# YOUR CODE HERE

>3.2.2 Split your dataset into a training set (80%) and a test set (20%). Use sklearn.model_selection.train_test_split() and set the **random_state to 42.**

In [ ]:
# YOUR CODE HERE

>3.2.3 Train a linear regression model on the training data. What is the R^2 score for the test data?

In [ ]:
# YOUR CODE HERE

>3.2.4. Predict what would be the life expectancy of a (very small) country with an Alcohol consumption of 5 liters, GDP per capita of 800 dollars, a population of 300 individuals, 62 as percentage expenditure, 8 as schooling in year 2000. It is not a developing country.

In [ ]:
# YOUR CODE HERE

## 3.3 Linear Regression with Standardization

> 3.3.1. Apply a standard scaler to the following columns: Alcohol, gdp, population, percentage expenditure, schooling
> 
> Hint: use the scaler on the already split data. Fit-transform the scaler on X_train and apply transform on X_test.

In [ ]:
# YOUR CODE HERE

> 3.3.2 Train a linear regression model with the standardised data. What is the R^2 score for the test data?

In [ ]:
# YOUR CODE HERE

> 3.3.3 With the new model, predict, as before, what would be the life expectancy of a (very small) country with an Alcohol consumption of 5 liters, GDP per capita of 800 dollars, a population of 300 individuals, 62 as percentage expenditure, 8 as schooling in year 2000. It is not a developing country.

In [ ]:
# YOUR CODE HERE

>3.3.4 Looking at the coefficients from the linear regression with standardization, identify which variable is the one with the strongest impact on the dependent variable.

In [ ]:
# YOUR CODE HERE

> 3.3.5 Calculate the adjusted R-squared and identify the optimum regression coefficients using linear regression with standardisation. 
>
> Hint: calculate the adjusted R-squared for the full model with linear regression and standardisation (as above). The try dropping either one of the columns: `GDP`, `Population` and all the year features and recalculate adjusted R-squared for every new model. Identify which combination of features gives the highest adjusted R-squared. 
>
>Check out this documentation file on the [adjusted R-squared](https://www.statology.org/adjusted-r-squared-in-python/).
>
> Remember to use 42 as the **random_state**

In [ ]:
# YOUR CODE HERE

>3.3.6 Train the model when you drop `GDP` and calculate the adjusted R-squared.

In [ ]:
# YOUR CODE HERE

> 3.3.7 Train the model when you drop `Population` and calculate the adjusted R-squared. Pay attention: you only need to drop `Population`, you need `GDP` back in there.

In [ ]:
# YOUR CODE HERE

>3.3.8 Train the model when you drop all the year features and calculate the adjusted R-squared. Pay attention: you only need to drop all the year features, you need `GDP` and `Population` back in there.

In [ ]:
# YOUR CODE HERE